<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <script type="text/javascript" src="/Public/Home/js/jquery-1.8.2.min.js"></script>
    <style>
		.corg{color:green;background-color:rgba(46,204,113,0.2)}.corn{color:#000;background-color:none}.corr{color:#eb4d5c;background-color:rgba(211,84,0,0.2)}.corg2{color:green}.corn2{color:#000}.corr2{color:#eb4d5c}.s{font-weight:normal!important}.bgred{background-color:navajowhite;color:red}.bggreen{background-color:lightgreen;color:green}.bgnormal{color:#222}.bger{font-weight:bolder}.smer{font-weight:normal}body{font-size:12px}a{text-decoration:none;color:#0064b9}.rowwrap{width:100%;display:table;overflow:hidden;padding-bottom:15px;line-height:35px}.rowhead{width:100%;display:table-row;height:35px;background-color:#dedede}.row{width:100%;display:table-row;height:35px;border-bottom:solid 1px #cdcdcd}.cell{display:table-cell;width:20%;display:inline-block;text-align:center;border-bottom:solid 1px #cdcdcd}
	</style>
</head>
<body style="margin:0;padding:0;">
    <!--以iframe方式包含图表-->
    <!--symbol参数是完整品种代码，p是周期可以为 1M(分时),5M(5分钟),15M(15分钟),30M(30分钟),H(小时),4H(4小时),D(日)-->
    <iframe id="ifmMaintest" name="ifmMaintest" src="charts.html?symbol=CMEEC" style="margin:auto;width:100%;height:385px;border:none;" frameborder="0" scrolling="no"></iframe>
    <!--报价盘-->
    <div>
        <div style="width:100%;"><span id="spN" style="margin-left:5px;border-radius:3px;padding:0 3px;display:inline-block;font-weight:bolder;font-size:166%;">-</span><span id="spFS" style="border-radius:3px;padding:0 3px;display:inline-block;font-weight:bolder;font-size:133%;"></span></div>
    </div>
    <div style="line-height:25px;font-size:9px;color:#666;display:table;margin-left:5px;">
        <div style="display:table-row">
            <div style="display:table-cell;width:33%;">最新：<span id="spP" style="border-radius:3px;padding:0 3px;display:inline-block;font-weight:bolder;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">卖一：<span id="spS1" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-weight:bolder;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">量：<span id="spS1V" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-weight:bolder;font-size:133%;">0</span></div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell;width:33%;">现量：<span id="spNV" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;padding-right:10px;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">买一：<span id="spB1" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;padding-right:10px;font-weight:bolder;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">量：<span id="spB1V" style="border-radius:3px;padding:0 3px;width:75px;display:inline-block;padding-right:10px;font-weight:bolder;font-size:133%;">0</span></div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell;width:33%;">涨跌：<span id="spZD" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">今开：<span id="spO" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">最高：<span id="spH" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell;width:33%;">涨幅%：<span id="spZF" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">最低：<span id="spL" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">昨收：<span id="spYC" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
        </div>
        <div style="display:table-row">
            <div style="display:table-cell;width:33%;">总量：<span id="spV" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">持仓：<span id="spHD" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
            <div style="display:table-cell;width:33%;">昨结：<span id="spYJS" style="border-radius:3px;padding:0 3px;width:70px;display:inline-block;font-size:133%;">0</span></div>
        </div>
    </div>
    <!--以iframe方式包含行情列表-->
    <iframe src="lists.html" style="margin:auto;width:100%;height:350px;border:none;" frameborder="0" scrolling="no"></iframe>
    <!--以iframe方式包含全球快讯-->
    <iframe src="qnews.html" style="margin:auto;width:100%;height:300px;border:none;" frameborder="0" scrolling="no"></iframe>
    <!--价格输出-->
    <script type="text/javascript">
        var _lsttime = 0;
        var _prep = 0;
        var _preb1 = 0;
        var _pres1 = 0;

        function resetBoard() {
            _lsttime = "";
            _prep = 0;
            _preb1 = 0;
            _pres1 = 0;
        }

        function priceCallback(d) {
            if (d.Tick < _lsttime)
                return;

            _lsttime = d.Tick;

            $("#spN").html(d.N);
            $("#spFS").html(d.FS);

            var p = d.P;
            var s1 = d.S1;
            var b1 = d.B1;
            var s1v = d.S1V;
            var b1v = d.B1V;

            if (p <= 0) { p = s1; }
            if (_prep == 0) { _prep = p; }
            if (_preb1 == 0) { _preb1 = b1; }
            if (_pres1 == 0) { _pres1 = s1; }

            $("#spP").removeClass("corg").removeClass("corr");
            $("#spB1").removeClass("corg").removeClass("corr");
            $("#spB1V").removeClass("corg2").removeClass("corr2");
            $("#spS1").removeClass("corg").removeClass("corr");
            $("#spS1V").removeClass("corg2").removeClass("corr2");
            if (_prep < p) { $("#spP").addClass("corr"); } else if (_prep > p) { $("#spP").addClass("corg"); }
            if ($("#spP").hasClass("s")) { $("#spP").removeClass("s"); } else { $("#spP").addClass("s"); }
            if (_preb1 < b1) { $("#spB1").addClass("corr"); $("#spB1V").addClass("corr2"); } else if (_preb1 > b1) { $("#spB1").addClass("corg"); $("#spB1V").addClass("corg2"); }
            if ($("#spB1").hasClass("s")) { $("#spB1").removeClass("s"); } else { $("#spB1").addClass("s"); }
            if (_pres1 < s1) { $("#spS1").addClass("corr"); $("#spS1V").addClass("corr2"); } else if (_pres1 > s1) { $("#spS1").addClass("corg"); $("#spS1V").addClass("corg2"); }
            if ($("#spS1").hasClass("s")) { $("#spS1").removeClass("s"); } else { $("#spS1").addClass("s"); }

            if (p <= 0) { p = s1; }
            if (b1 <= 0) { b1 = p; }
            if (s1 <= 0) { s1 = p; }

            $("#spP").html(fixPrice(p));
            $("#spB1").html(fixPrice(b1));
            $("#spS1").html(fixPrice(s1));
            $("#spB1V").html(b1v);
            $("#spS1V").html(s1v);

            _prep = p;
            _preb1 = b1;
            _pres1 = s1;

            $("#spNV").html(d.NV);
            $("#spO").html(d.O);
            $("#spH").html(d.H);
            $("#spL").html(d.L);
            $("#spYC").html(d.YC);
            $("#spV").html(d.V);
            $("#spYJS").html(d.YJS);
            $("#spHD").html(d.HD);
            if (d.YC > 0) { $("#spZF").html(((d.P - d.YC) * 100 / d.YC).toFixed(2)); }
            $("#spZD").html(fixPrice(d.P - d.YC));
        }

        function fixPrice(p) {
            if (p > 20000) { return p.toFixed(1); }
            else if (p > 1000) { return p.toFixed(2); }
            else if (p > 100) { return p.toFixed(3); }
            else if (p > 10) { return p.toFixed(4); }
            else if (p > 1) { return p.toFixed(5); }
            else return p.toFixed(6);
        }
    </script>
</body>
</html>